
*.inc

1-1-Edad/Makefile

*.o

*.d

1-1-Edad/dist/Debug/GNU-MacOSX/1-1-edad

*.mk

*.bash

*.xml

*.properties

2-1-Fahrenheit/Makefile

2-2-Areas/Makefile

2-3-Numero_invertido/Makefile

2-4-Billetes/Makefile

2-4-Billetes/dist/Debug/GNU-MacOSX/2-4-billetes

2-5-Fecha/Makefile

3-1-Ordenar_numeros/Makefile

3-2-Descuentos/Makefile

4-1-Factorial/Makefile

4-2-Juego_del_numero/Makefile

4-2-Juego_del_numero/dist/Debug/GNU-MacOSX/4-2-juego_del_numero

4-3-Raiz_de_Newton/Makefile

4-4-Leer_cadena/Makefile

4-5-Sumatorio_exponentes/Makefile

4-6-Tabla_ASCII/Makefile

4-7-Eliminar_blancos/Makefile

5-1-Pelota_rebote_por_REFERENCIA/Makefile

5-1-Pelota_rebote_por_REFERENCIA/dist/Debug/GNU-MacOSX/5-1-pelota

5-1-Pelota_rebote_por_REFERENCIA/dist/Debug/GNU-MacOSX/5-1-pelota_rebote

*.h

5-1-Pelota_rebote_por_VALOR/Makefile

5-1-Pelota_rebote_por_VALOR/dist/Debug/GNU-MacOSX/5-1-pelota_rebote_por_valor

5-2-MCD_por_REFERENCIA/Makefile

5-2-MCD_por_REFERENCIA/dist/Debug/GNU-MacOSX/5-2-mcd_por_referencia

5-2-MCD_por_VALOR/Makefile

5-2-MCD_por_VALOR/dist/Debug/GNU-MacOSX/5-2-mcd_por_valor

5-3-Taylor_Coseno_Seno_Tangente_por_REFERENCIA/Makefile

5-3-Taylor_Coseno_Seno_Tangente_por_REFERENCIA/dist/Debug/GNU-MacOSX/5-3-taylor_coseno_seno_tangente_por_referencia

5-3-Taylor_Coseno_Seno_Tangente_por_VALOR/Makefile

5-3-Taylor_Coseno_Seno_Tangente_por_VALOR/dist/Debug/GNU-MacOSX/5-3-taylor_coseno_seno_tangente_por_valor

5-4-2-Centro_numerico_CALCULANDOLOS_por_REFERENCIA/Makefile

5-4-2-Centro_numerico_CALCULANDOLOS_por_REFERENCIA/dist/Debug/GNU-MacOSX/5-4-2-centro_numerico

5-4-2-Centro_numerico_CALCULANDOLOS_por_REFERENCIA/dist/Debug/GNU-MacOSX/5-4-2-centro_numerico_calculandolos_por_referencia

5-4-Centro_numerico_MALO/Makefile

5-4-Centro_numerico_MALO/dist/Debug/GNU-MacOSX/5-4-centro_numerico_por_referencia_y_valor

5-4-Centro_numerico_arreglado/Makefile

5-4-Centro_numerico_arreglado/dist/Debug/GNU-MacOSX/5-4-centro_numerico_arreglado

5-5-Adicional_por_REFERENCIA/Makefile

5-5-Adicional_por_REFERENCIA/dist/Debug/GNU-MacOSX/5-5-adicional

5-5-Adicional_por_REFERENCIA/dist/Debug/GNU-MacOSX/adicional_por_referencia

6-1-Caracter_mas_frecuente_DYNAMIC/Makefile

6-1-Caracter_mas_frecuente_DYNAMIC/dist/Debug/GNU-MacOSX/6-1-caracter_mas_frecuente_dynamic

6-1-Caracter_mas_frecuente_STATIC/Makefile

6-1-Caracter_mas_frecuente_STATIC/dist/Debug/GNU-MacOSX/6-1-caracter_mas_frecuente

6-1-Caracter_mas_frecuente_STATIC/dist/Debug/GNU-MacOSX/6-1-caracter_mas_frecuente_static

6-2-Compara_arrays_DYNAMIC/Makefile

6-2-Compara_arrays_DYNAMIC/dist/Debug/GNU-MacOSX/6-2-compara_arrays_dynamic

6-2-Compara_arrays_STATIC/Makefile

6-2-Compara_arrays_STATIC/dist/Debug/GNU-MacOSX/6-2-compara_arrays

6-2-Compara_arrays_STATIC/dist/Debug/GNU-MacOSX/6-2-compara_arrays_static

6-3-Banco_DYNAMIC/Makefile

6-3-Banco_DYNAMIC/dist/Debug/GNU-MacOSX/6-3-banco_dynamic

6-3-Banco_STATIC/Makefile

6-3-Banco_STATIC/dist/Debug/GNU-MacOSX/6-3-banco

6-4-Matematica_Array_DYNAMIC/Makefile

6-4-Matematica_Array_DYNAMIC/dist/Debug/GNU-MacOSX/6-4-matematica_array_dynamic

6-4-Matematica_Array_STATIC/Makefile

6-4-Matematica_Array_STATIC/dist/Debug/GNU-MacOSX/6-4-matematica_array

7-1-Punto_de_Silla_DYNAMIC/Makefile

7-1-Punto_de_Silla_DYNAMIC/dist/Debug/GNU-MacOSX/7-1-punto_de_silla_dynamic

7-1-Punto_de_Silla_STATIC/Makefile

7-1-Punto_de_Silla_STATIC/dist/Debug/GNU-MacOSX/7-1-punto_de_silla

7-1-Punto_de_Silla_STATIC/dist/Debug/GNU-MacOSX/7-1-punto_de_silla_static

7-2-Estrellas_DYNAMIC/Makefile

7-2-Estrellas_DYNAMIC/dist/Debug/GNU-MacOSX/7-2-estrellas_dynamic

7-2-Estrellas_STATIC/Makefile

7-2-Estrellas_STATIC/dist/Debug/GNU-MacOSX/7-2-estrellas_static
/7-1-Punto_de_Silla_con_traspuesta_DYNAMIC/build/
/7-1-Punto_de_Silla_con_traspuesta_DYNAMIC/dist/
7-1-Punto_de_Silla_con_traspuesta_DYNAMIC/Makefile
/8-1-Borrar_espacios/build/
/8-1-Borrar_espacios/dist/
/8-2-Palindromo/dist/
/8-2-Palindromo/build/
/8-3-DNI/build/
/8-3-DNI/dist/
/8-3-DNI_NIF/dist/
/8-3-DNI_NIF/build/
8-1-Borrar_espacios/Makefile

8-2-Palindromo/Makefile

8-3-DNI_NIF/Makefile
/8-1-Contar_palabras/build/
/8-1-Contar_palabras/dist/
8-1-Contar_palabras/Makefile

9-00-Examen_Parcial/Makefile

9-1-Pabellones_y_Stands/Makefile
/prueba/dist/
/prueba/build/
/9-1-Pabellones_y_Stands/dist/
/9-1-Pabellones_y_Stands/build/
9-1-Pabellones_y_Stands/prueba

10-2-Factoria/Makefile

10-1-Censo/Makefile
/10-3-Aeropuerto/dist/
/10-3-Aeropuerto/build/
10-3-Aeropuerto/Makefile
